<app-common-navbar></app-common-navbar>

<div class="container">
     <div class="row mt-5 mb-5">
         <div class="col-md-6">
            <div class="text-center">
                <img src="../../../../../assets/images/zillion_about_content.jpg" class="rounded shadow mt-5 " width="75%" alt="...">
              </div>

         </div>

         <div class="col-md-6">

            <div class="float-end">
            <h1 class="text-end "> <span class="fw-light ">About</span>  illionere</h1>
            <h4 class="text-end fw-normal">Infinite Ideas.....</h4>
            <div>
                <p>The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            </div>

           

        
         </div>
     </div>
</div>

<app-footer></app-footer>