
    <!--footer start-->

    <footer class="footer-sec pt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-rightside">
                <h2 class="footer-content-h2" >About us</h2>
                <h5  class="footer-content-h5">Being a specialist in the field, we have created innovative and masterpieces unique solutions in the industry, since its establishment in 2006.</h5>
                <h2 class="footer-content-h2">Quick Links</h2>
                <ul>
                  <li class="footer-li" > 
                    <a (click)="onHome()">Home</a>
                  </li>
                  <li class="footer-li">
                    <a   (click)="onServices()">Services</a>
                  </li>
                  <li class="footer-li">
                    <a   (click)="onAboutus()">About us</a>
                  </li>
                  <li class="footer-li">
                    <a   (click)="onContact()">Contact</a>
                  </li>
                  <li class="footer-li">
                    <a href="#">Web Design</a>
                  </li>
                  <li class="footer-li">
                    <a href="#">Brochure</a>
                  </li>
                  <li class="footer-li">
                    <a href="#">Digital Marketing</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-sec-right ">
                <h2 class="footer-content-h2 text-dark">Contact Us</h2>
                <h5 class="footer-content-h5 text-dark">lorem ipsum Info solutions, 12th Floor,<br> lorem lipsom lorem, Near <br>lorem ,  lorem lipsom lorem,<br>  lorem lipsom lorem </h5>
                <h5 class="footer-content-h5 text-dark">Mobile:+91 215765878787,<br>HR:+91 212376878</h5>
                <h5 class="footer-content-h5 text-dark" ><a href="" [href]="'mailto:' + emailAddess" class="text-dark">Email: infonlknslkdn.com</a></h5>
              </div>
            </div>
            <div class="copyright pt-5">
              <h6 class="copyright-h6 text-dark">2023 © All rights reserved Company</h6>
            </div>
          </div>
        </div>
       
  
  
      </footer>
  