<app-navbar></app-navbar>
    <!--card-sec-->

    <section>
        <div class="container">
          <div class="row mx-auto">
            <div class="col-md-4 col-6 card-center   ">
              <div class="cards   cards-bgcolor1 "> 
                <img src="../../../../../assets/images/card pic 1.png"  class="card-image pt-5 img-fluid " alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr class="card-hr text-center" >
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
            <div class="col-md-4 col-6  card-center">
              <div class="cards   cards-bgcolor2">
                <img src="../../../../../assets/images/card pic 2.png"  class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr  class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
            <div class="col-md-4 col-6  card-center ">
              <div class="cards   cards-bgcolor3">
                <img src="../../../../../assets/images/card pic 3.png" class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr  class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
          
            <div class="col-md-4 col-6 card-center ">
              <div class="cards   cards-bgcolor4 "> 
                <img src="../../../../../assets/images/card pic 1.png"  class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
            <div class="col-md-4 col-6  card-center">
              <div class="cards   cards-bgcolor5">
                <img src="../../../../../assets/images/card pic 2.png"  class="card-image pt-5" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr  class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
            <div class="col-md-4 col-6 card-center ">
              <div class="cards   cards-bgcolor6">
                <img src="../../../../../assets/images/card pic 3.png" class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr  class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
  
            <div class="col-md-4 col-6 card-center ">
              <div class="cards   cards-bgcolor7 "> 
                <img src="../../../../../assets/images/card pic 1.png"  class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
            <div class="col-md-4 col-6  card-center t">
              <div class="cards   cards-bgcolor8">
                <img src="../../../../../assets/images/card pic 2.png"  class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr  class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>
            <div class="col-md-4 col-6  card-center  ">
              <div class="cards   cards-bgcolor9">
                <img src="../../../../../assets/images/card pic 3.png" class="card-image pt-5 img-fluid" alt="" srcset="">
                <h3>Logo Design</h3>
                <br>
                <hr  class="card-hr">
                <p class="d-none d-sm-block">Corporate identity, Logo Design, Iconic<br> Logo Design, Business identity</p>
                <button class="card-btn border-0" (click)="onServices()">More Info</button>
              </div>
            </div>   
          </div>
        </div>
      </section>
  
      <!--contents-->
      <section class=" content-img pb-5 pt-5">
        <div class="container">
          <div class="row ">
            <h2 class=" content-h2 text-center pt-5 pb-5 mb-5">Everything You Need to Kick-Start Your New Venture</h2>
            <div class="col-md-3 ">
              <div class="row contents-border-top  ">
              <div class=" cards-contents ">
                <img class="pb-3" src="../../../../../assets/images/content 1.png" width="35%" alt="" srcset="">
                <h3 class="fs-5 pb-3">Naming</h3>
                <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
              </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="row contents-border-top ">
              <div class=" cards-contents ">
                <img class="pb-3" src="../../../../../assets/images/content 2.png" width="35%" alt="" srcset="">
                <h3 class="fs-5 pb-3">Naming</h3>
                <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
              </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="row contents-border-top ">
                <div class=" cards-contents ">
                  <img class="pb-3" src="../../../../../assets/images/content 3.png" width="35%" alt="" srcset="">
                  <h3 class="fs-5 pb-3">Naming</h3>
                  <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 ">
              <div class="row contents-border-right ">
                <div class=" cards-contents">
                  <img class="pb-3" src="../../../../../assets/images/content 4.png" width="35%" alt="" srcset="">
                  <h3 class="fs-5 pb-3">Naming</h3>
                  <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
                </div>
              </div>
            </div>       
            <div class="col-md-3">
              <div class="row contents-border-botton ">
                <div class="cards-contents  ">
                  <img class="pb-3" src="../../../../../assets/images/content 5.png" width="35%" alt="" srcset="">
                  <h3 class="fs-5 pb-3">Naming</h3>
                  <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
                </div>
              </div>  
            </div>
            <div class="col-md-3">
              <div class="row contents-border-botton">
                <div class="cards-contents">
                  <img class="pb-3" src="../../../../../assets/images/content 6.png" width="35%" alt="" srcset="">
                  <h3 class="fs-5 pb-3">Naming</h3>
                  <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
                </div>
              </div>    
            </div>
            <div class="col-md-3">
              <div class="row contents-border-botton">
                <div class="cards-contents  ">
                  <img class="pb-3" src="../../../../../assets/images/content 7.png" width="35%" alt="" srcset="">
                  <h3 class="fs-5 pb-3">Naming</h3>
                  <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
                </div>
              </div>  
            </div>
            <div class="col-md-3">
              <div class="row row contents-border-botton-right ">
                <div class=" cards-contents ">
                  <img class="pb-3" src="../../../../../assets/images/content 8.png" width="35%" alt="" srcset="">
                  <h3 class="fs-5 pb-3">Naming</h3>
                  <p class="pb-3">A good brand campaign starts and <br>ends with a name. After all, this is what <br>your brand is going to be known by.</p>
                </div>
              </div>     
            </div> 
          </div>       
        </div>
      </section>
  
      <!--Testimony-->
  
      <section class="testimony text-center pt-5">
        <div class="container">
          <div class="row">
            <h3 class=" pt-5 text-center ">Client<span class="testimony-span">Testimonial</span> </h3>
            <h4 class="text-center  ">What our customers say...</h4>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="col-md-12 col-12">
              <div class="carousel-inner mx-auto ms-5">
                <div class="carousel-item active">
                  <img src="../../../../../assets/images/Untitled-1.png" class="d-block rounded-circle img-fluid carousel-image "  alt="...">
                  <div class="carousel-caption  ms-5">
                    <i class="fa-solid fa-quote-right fa-rotate-180 "></i>  
                    <p class="text-dark  testimony-para  ">We had developed our logo from Zillion , they did the branding solutions for Alba . Wonderful <span class="testimony-span-para">creative works.Very good cooperation.Thank you so much Team Zillion.</span></p>
                    <h5 class=" testimony-h5">Monica Geller</h5>
                  </div>
                </div>
                <div class="carousel-item col-12 mx-auto ms-5">
                  <img src="../../../../../assets/images/testimony model 2.png" class="d-block rounded-circle img-fluid carousel-image" alt="...">
                  <div class="carousel-caption ms-5 ">
                    <i class="fa-solid fa-quote-right fa-rotate-180   "></i>  
                    <p class="text-dark testimony-para ">We had developed our logo from Zillion , they did the branding solutions for Alba . Wonderful <span class="testimony-span-para">creative works.Very good cooperation.Thank you so much Team Zillion.</span></p>
                    <h5 class="testimony-h5">Joey Tribiyoni</h5>
                  </div>
                </div>
                <div class="carousel-item col-12 mx-auto ms-5">
                  <img src="../../../../../assets/images/testimony model 3.png" class="d-block rounded-circle img-fluid carousel-image" alt="...">
                  <div class="carousel-caption  ms-5">
                    <i class="fa-solid fa-quote-right fa-rotate-180   "></i>  
                    <p class="text-dark testimony-para">We had developed our logo from Zillion , they did the branding solutions for Alba . Wonderful <span class="testimony-span-para">creative works.Very good cooperation.Thank you so much Team Zillion.</span></p>
                    <h5 class="testimony-h5">Chandler Bing</h5>
                  </div>
                </div>
              </div>
            </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          
        </div>
        </div>
      </section>
  
      <!--latest projects-->
  
      <section class="latest-work pb-2" id="latest_workwr">
        <h2 class="text-dark text-center pt-5">Latest <span class="latest-work-h2">Projects</span></h2>
        <div class="container">
          <div class="row pt-5">
            <div class="col-md-4">
              <div class="latest-work-all ">
                <a > <img src="../../../../../assets/images/work 2.jpg"  class="latest-work-img img-fluid rounded " alt="" width="98%" height="50%" srcset=""></a>
  
              </div>
            </div>
            <div class="col-md-4">
              <div class="latest-work-all">
                <a > <img src="../../../../../assets/images/work 2.jpg"  class="latest-work-img img-fluid rounded" alt="" width="98%" height="50%" srcset=""></a>
                
              </div>
            </div>
            <div class="col-md-4">
              <div class="latest-work-all">
                <a > <img src="../../../../../assets/images/work 2.jpg" class="latest-work-img img-fluid rounded" alt="" width="98%" height="50%" srcset=""></a>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>